    .container {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(195, 184, 204);
        
    }


    .demo {
        display: flex;
        gap: 15px;
        padding: 20px;
        background-color: turquoise;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border: 1px solid rgb(136, 146, 146);
        border-radius: 5px;
        transition: background-color 1s, transform 1s;
    }

    .juan {
        background-color: cornflowerblue;

    }
    .fizz:hover{
        background-color: rgb(222, 201, 236);
    
    }
    .buzz:hover {
        background-color: rgb(208, 255, 0) ;
        transform: translateY(-5px);
    }

    .fizzbuzz:hover {
    background-color: brown;
    transform: rotate(5deg);
    }
    .controls {
      background-color: rgba(179, 172, 172, 0.473);
      padding: 15px;
      border-radius: 10px;
      display: flex;
      gap: 15px;

    }  
    
    .input-group ¨{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .input-group ¨{
        font-size: 12px;
    }
     .input-group input{
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
       .input-group input:focus{
        outline: none;
        border-color: rgb(191, 198, 224);
    }
    #generate{
        background-color: rgb(194, 236, 152);
        border: none;
        padding-left: 14px;
        padding-right: 16px;
        border-radius: 5px;
        font-size: 14px;
        transition: background-color 0.5s, transfor 0.7s;
    }

     #generate:hover{
        background-color: rgb(145, 247, 43);
        font-weight: bold;
    }
      #generate:active{
        transform: scale(0.9);
    }

